Hola amigo
<p>Hola <%=@minombre%></p>
<form action="/saludame" method="POST">
<input type="text" id="username" name="username" class="username">
<input type="submit" class="Saludar" value="Saludar">
</form>